body, html {font-size: 12px;font-family:Verdana;margin:0;padding:0;color:#313131;background:#F3F5F8;}

a {color:#243AD7;}

div#left {float:left;width:220px;overflow:hidden;padding:20px;background:#C7CFDE;height:290px}
div#left #copy{margin-top:190px}
div#content {margin-left:210px;background:#E0E6ED;padding:20px;padding-left:70px;}

div#menu {background:#A3B1C9;padding:20px;}
div#menu a {padding-right:10px;}

div#block {margin:20px;}
div#block #title{margin:20px;}
div#block #text{margin:20px;}

